<div class="form-inline">
	<div class="form-group col-4">
		<label for="inputIdioma" class="col-12">Idioma:</label>
      <select id="inputIdioma" class="form-control col-12" [(ngModel)] ="cardStatus.idioma" (change)="emitStatus()">
        <option *ngFor="let idioma of idiomas" [value]="idioma">{{idioma}}</option>
      </select>
  </div>
  <div class="form-group col-4">
      <label for="inputEstado" class="col-12">Estado:</label>
      <select id="inputEstado" class="form-control col-12" [(ngModel)] ="cardStatus.estado" (change)="emitStatus()">
        <option *ngFor="let estado of estados | enum" [value]="estado.key">{{estado.value}}</option>
      </select>
  </div>
  <div class="form-group col-4">
    <label class="col-12">Extras: </label>    
        <div class="form-check col-4">
          <input type="checkbox" class="form-check-input" id="foilCheck" [(ngModel)]="cardStatus.foil" (change)="emitStatus()">
          <label class="form-check-label" for="foilCheck">Foil</label>
        </div>
        <div class="form-check col-4">
          <input type="checkbox" class="form-check-input" id="firmadoCheck" [(ngModel)]="cardStatus.firmado" (change)="emitStatus()">
          <label class="form-check-label" for="firmadoCheck">Signed</label>
        </div>
        <div class="form-check col-4">
          <input type="checkbox" class="form-check-input" id="alteradoCheck" [(ngModel)]="cardStatus.alterado" (change)="emitStatus()">
          <label class="form-check-label" for="alteradoCheck">Altered</label>
        </div>        
  </div>
</div>