table {
  table-layout: fixed;
  margin-bottom: 1em;
}

th {
  border: 1px solid black;
  background-color: lightblue;
  text-align: center;
}

td {
  border: 1px solid gray;
  background-color: lightgray;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.columns05{
  width: 4.16%;
}
.columns1{
  width: 8.33%;
}
.columns2{
  width: 16.66%;
}
.columns3{
  width: 25%;
}
.columns4{
  width: 33.33%;
}
.columns5{
  width: 41.66%;
}
.columns6{
  width: 50%;
}
.columns7{
  width: 58.33%;
}
.columns8{
  width: 66.66%;
}
.columns9{
  width: 75%;
}
.columns10{
  width: 83.33%;
}
.columns11{
  width: 91.66%;
}
.columns12{
  width: 100%;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

.padder {
  padding: 0 15px;
}